<!--
  Generated template for the Fare page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-toolbar color="dark">  
    <ion-title>Estimate</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" >
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <section>
    <ion-grid>
      <ion-row>

    </ion-grid>
  </section> -->

  <section class="topnotification-fare">

    <ion-grid class="no-padding">
      <ion-row>
        <ion-col width-10 class="marker" size="3"><div class="ion-margin-left"><h4>DropOff:</h4></div> 
          <img src="assets/images/marker.png" (click)="showAddressModal('pickup')">
        </ion-col>
        <ion-col width-90 class="no-padding" size="9">
          <!-- <p class="bluetext-map extrafontsize" (click)="showAddressModal('pickup')">Pickup location</p> -->
          <p class="subbluetext-map smallFont padding-btm" (click)="showAddressModal('pickup')">{{pickup?.add}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <section class="topnotification-fare" *ngIf="PickupService">
    <ion-grid class="no-padding">
      <ion-row>
        <ion-col width-10 class="marker">
          <img src="assets/images/car.png" (click)="showAddressModal('drop')">
        </ion-col>
        <ion-col width-90 class="no-padding">
          <!-- <p class="bluetext-map extrafontsize" (click)="showAddressModal('drop')">Drop location</p> -->
          <p class="subbluetext-map smallFont padding-btm"  (click)="showAddressModal('drop')">{{drop?.add}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <section>
    <!-- <div id="map3" data-tap-disabled="true" class="map3" *ngIf="this.PickupService === true">
    </div>
    <div id="map3" data-tap-disabled="true" class="map4" *ngIf="this.PickupService !== true">
    </div> -->
  </section>
  <section class="driver-snippet">
    <ion-grid style="border:1px solid #ddd;">
      <ion-row wrap>
        <ion-col>
          <!-- <ion-list no-lines class="no-padding no-margin">
            <ion-item class="no-border"> -->
          <h2 style="text-align:center;margin:0px">${{estimate?.toFixed(2)}}</h2>
          <!-- </ion-item>
          </ion-list> -->
        </ion-col>
      </ion-row>
      <!-- <ion-row wrap>

       </ion-row> -->
      <ion-row wrap>

        <ion-col width-50>

          <button icon-left class="button-trans" ion-button (click)="tapEvent($event)"
            style="border-radius: 30px; margin-left: 10px; width: auto;">
            <ion-icon name="calendar-number-outline" class="calendar"></ion-icon>
            <ion-datetime class="dateset" displayFormat="D MMM YYYY" [(ngModel)]="showDate" (ionChange)="dateShow()"
              min="{{currentDate}}" max="2030"> </ion-datetime>
          </button>

        </ion-col>
        <ion-col width-50>


          <button icon-left class="button-trans" ion-button style="margin-left:100px; border-radius: 30px; width: auto;"
            (click)="tapEventT($event)">
            <ion-icon name="time-outline" class="time"></ion-icon>
            <!--<ion-datetime displayFormat="HH:mm:ss"[(ngModel)]="showTime" (ionChange)="timeShow()"></ion-datetime>-->
            <ion-datetime class="dateset" displayFormat="h:mm A" [(ngModel)]="showTime" (ionChange)="timeShow()">
            </ion-datetime>
          </button>

        </ion-col>
        <!-- <ion-col width-100 class="no-padding no-margin" >
          <h6 style="    margin: 5px;
    text-align: center;
    "> {{transmission}}</h6>
        </ion-col> -->
        <!-- <p class="note"><strong>NOTE: </strong>Minimum one hour notice period is required for all bookings.</p> -->
      </ion-row>

      <ion-row wrap *ngIf="PickupService" style="text-align: center;">
        <ion-col width-50 class="no-padding no-margin" style="border-right: 1px solid #ddd;">

          <h2 class="apprx-dis"><strong>Approximate Trip time </strong> </h2>
          <p class="apprx-dis-p">{{triptime}} minute.</p>

        </ion-col>
        <ion-col width-50 class="no-padding no-margin">


          <h2 class="apprx-dis"><strong>
              Approximate Distance </strong></h2>
          <p class="apprx-dis-p"> {{(distance/1000)?.toFixed()}} Km</p>

        </ion-col>
      </ion-row>
      <ion-row wrap *ngIf="PickupService !== true">
        <ion-col width-100>
          <ion-list no-lines class="no-padding no-margin">
            <ion-item class="no-border">

              <ion-label style="margin-left:100px;">Trip Time</ion-label>
              <ion-select [(ngModel)]="triptime" (ionChange)="changeEstimate()" style="width:138px;">
                <!--<ion-option value="2" value="default" selected="true">2 Hours</ion-option>-->
                <ion-select-option value="2">2 Hours</ion-select-option>
                <ion-select-option value="3">3 Hours</ion-select-option>
                <ion-select-option value="4">4 Hours</ion-select-option>
                <ion-select-option value="5">5 Hours</ion-select-option>
                <ion-select-option value="6">6 Hours</ion-select-option>
                <ion-select-option value="7">7 Hours</ion-select-option>
                <ion-select-option value="8">8 Hours</ion-select-option>
                <ion-select-option value="9">9 Hours</ion-select-option>
                <ion-select-option value="10">10 Hours</ion-select-option>
              </ion-select>


            </ion-item>

          </ion-list>
        </ion-col>

      </ion-row>

      <ion-row wrap>
        <ion-col width-50 class="no-padding no-margin">
          <!-- style="border-right: 1px solid #ddd;" -->
          <button ion-button icon-left class="button-trans" (click)="addPromo()"
            style="margin-bottom: 5px; margin-left: 10px;">Promo Code</button>
          <!-- </ion-item> -->
          <!-- </ion-list> -->
        </ion-col>
        <ion-col width-50 class="no-padding no-margin">
          <!-- <ion-list no-lines class="no-padding no-margin"> -->
          <!-- <ion-item class="no-border"> -->
          <button ion-button icon-left class="button-trans" (click)="addCard()" style="margin-left:18px"> Add Credit
            Card</button>
          <!-- </ion-item> -->
          <!-- </ion-list> -->
        </ion-col>
      </ion-row>
      <ion-row wrap>
        <ion-col style="padding: 0px 2px;">
          <button class="darkbutton1" ion-button (click)="requestDriver()" [disabled]="requestDone">Request
            Driver</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--<ion-grid style="padding:0px">-->
    <!---->
    <!--</ion-grid>-->





  </section>




</ion-content>
