@import "../activebooking//activebooking.page.scss";
@import "../terms//terms.page.scss";

.topnotification-fare {
  @extend .topnotification;
  background: #e8e8e8 !important;
  padding: 4px 0 !important;
}

.cartypedate {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
}
.calendar{
  font-size: 30px;
  text-align: center;
  margin-left: 20px;
}
.farebutton {
  color: #fff;
  font-size: 12px;
  padding: 2% 0;
  background: #222;
  border-radius: 10px;
}

/*.cartypedate-left{float: left; background: #e8e8e8;}
.cartypedate-left span{width: auto; display: block; position: absolute; top: 30%; left: 20%; background: url('../assets/images/calendar.png') no-repeat; line-height: 21px; font-family: 'PT Sans'; color: #2b2b2b; font-size: 14px; padding-left: 28px; font-weight: bold;}*/

/*.cartypedate-right{float: right; width: 44.5%; background: #e8e8e8; position: relative;}
.cartypedate-right span{width: auto; display: block; position: absolute; top: 30%; left: 20%; background: url('../assets/images/car1.png') no-repeat; line-height: 21px; font-family: 'PT Sans'; color: #2b2b2b; font-size: 14px; padding-left: 28px; font-weight: bold;}*/

.fareestimate {
  font-family: "PT Sans";
  color: #2b2b2b;
  text-align: center;
  font-size: 20px;
  padding: 5px 0 0 0;
  margin: 0;
  font-weight: bold;
}
.currency {
  @extend .fareestimate !optional;
  color: #222;
  font-size: 35px;
  padding: 0 0 0px 0;
}


.triptime {
  font-family: "PT Sans";
  font-size: 17px;
  text-align: center;
  color: #2b2b2b;
  margin: 0;
}
.timeslider {
  @extend .triptime !optional;
  font-size: 22px;
  padding: 10px 0;
  font-weight: bold;
}

.farebutton-wrapper {
  width: 90%;
  margin: 0 auto;
}
.no-padding-top {
  padding-top: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.ashrectangle-fare {
  @extend .ashrectangle;
  margin: 4px auto !important;
  width: 80% !important;
}
.datetime-md {
  font-size: 14px;
  padding: 0;
  background: none !important;
}
.item-cover {
  width: 0;
  height: 0;
}

.select-md {
  padding: 0;
}
.item-md.item-block .item-inner {
  border-bottom: none;
}

.ashfare {
  margin: 4px auto !important;
  width: 90%;
  background: #f4f4f4;
  padding: 5px;
  border-radius: 10px;
}
.ashfare .list-md {
  margin: 0 !important;
}
.ashfare .item-md {
  padding: 0 0 0 8px !important;
}
.ashfare .list-ios {
  margin: 0 !important;
}
.ashfare .item-ios {
  padding: 0 0 0 8px !important;
}
.center-allign {
  text-align: center;
  padding: 1%;
  background: #e8e8e8;
  font-size: 13px;
  margin: 2px;
}

.ashrectangle-fare .list-md {
  margin: 0 !important;
}
.ashrectangle-fare .item-md {
  padding-left: 0 !important;
}

.select-text {
  font-size: 14px !important;
}
.shortwrapper {
  width: 36% !important;
  margin: 0 auto;
}
ion-select {
  max-width: 100%;
  font-weight: bold;
}
.select-md .select-icon {
  width: 22px;
}

.custom-outline {
  border-radius: 10px;
  width: 100%;
  background: none;
  border: 1px solid #222;
  color: #2b2b2b;
  box-shadow: none;
}

.custom-col {
  width: 100%;
}
.custom-col ion-col {
  flex: 1 0 100px;
  min-width: 100px;
}

.custom-col .button-ios {
  padding: 0.3rem;
}
.custom-icon-padding [icon-left] ion-icon {
  padding-left: 0.5em;
}

.rqstDvr {
  color: #fff;
  background: #3b5998;
}
.textCenter {
  text-align: center;
}

.smallFont {
  font-size: 1.4rem !important;
}
.padding-btm {
  padding-bottom: 0px !important;
}

.fareCalBtn {
  position: relative;
  ion-icon {
    position: absolute;
  }

  ion-datetime {
    width: 100%;
    position: relative;
  }
  .fareDateIcon {
    left: 21%;
    top: 25%;
  }
  .fareTimeIcon {
    left: 21%;
    top: 27%;
  }
}

.fareTimeBtn {
}
.note {
  margin-left: 14px;
  margin-bottom: 0px;
  font: italic bold 11px PT, Sans;
}

@media screen and (orientation: landscape) {
  .shortwrapper {
    width: 24% !important;
  }

  .fareCalBtn {
    .fareDateIcon {
      left: 25% !important;
    }
    .fareTimeIcon {
      left: 32% !important;
    }
  }
}

@media (min-width: 320px) {
  .cartypedate-left span {
    left: 15%;
  }
  .cartypedate-right span {
    left: 7%;
  }
  [icon-left] ion-icon {
    padding-right: 0.5em;
  }

  .fareCalBtn {
    .fareDateIcon {
      left: 1%;
    }
    .fareTimeIcon {
      left: 17%;
    }
  }
}

@media (min-width: 360px) {
  .cartypedate-left span {
    left: 8%;
  }
  .cartypedate-right span {
    left: 11%;
  }

  .fareCalBtn {
    .fareDateIcon {
      left: 4%;
    }
    .fareTimeIcon {
      left: 18%;
    }
  }
}

@media (min-width: 412px) {
  .cartypedate-left span {
    left: 23%;
  }
  .cartypedate-right span {
    left: 16%;
  }

  .fareCalBtn {
    .fareDateIcon {
      left: 20%;
    }
    .fareTimeIcon {
      left: 30%;
    }
  }
}

@media (min-width: 568px) {
  .cartypedate-left span {
    left: 30%;
  }
  .cartypedate-right span {
    left: 30%;
  }
}

@media (min-width: 768px) {
  .fareCalBtn {
    .fareDateIcon {
      left: 36%;
    }
    .fareTimeIcon {
      left: 39%;
    }
  }
}

@media (min-width: 1024px) {
  .cartypedate-left span {
    left: 40%;
  }
  .cartypedate-right span {
    left: 40%;
  }
}
.time{
  font-size: 30px;
  text-align: center;
  margin-left: 20px;
}
.dateset {
  font-size: 16px !important;
  margin-left: -10px;
}
.dateicon {
  font-size: 18px !important;
}

.map3 {
  height: 250px;
}
.map4 {
  height: 387px;
}

.button-trans {
  background: rgba(224, 226, 226, 0.767);
  color: #000;
  width: 88%;
  border: 1px solid #dedddd;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: none !important;
  font-weight: 400 !important;
  box-shadow: rgb(199, 199, 199);
}

.apprx-dis {
  font-size: 1.4rem !important;
  margin: 0px;
  margin-top: 12px;
}
.apprx-dis-p {
  margin: 10px;
}

.datetime-ios {
  padding: 11px 0px 11px 5px !important;
}
.darkbutton1{
  background:#09738d !important;
  border-radius: 60px;
}
