<!--
  Generated template for the Bookings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>
  <ion-toolbarbar color="headerblue">
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="toptitle"><span class="heavy">BOOKINGS</span></ion-title>
  </ion-toolbarbar>
</ion-header>-->

<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-button (click)="nav.pop()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>BOOKINGS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <app-emptyview *ngIf="bookingList.length == 0 " [icon]="'file-tray-outline'" [type]="'icon'"
    [message]="'You Have No Current Bookings'"></app-emptyview>

  <ion-grid *ngIf="bookingList.length != 0 ">
    <ion-row *ngFor="let booking of bookingList; let i = index;" (click)="openActiveBooking(i)">
      <ion-col size="12" class="ion-padding">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img [src]="booking.image_url !== '' ? booking.image_url : 'assets/images/notfound.png'"
              onerror="this.onerror=null;this.src='assets/images/notfound.png';" />
          </ion-avatar>
          <ion-label>
            <p *ngIf="booking.tripdate">
              <small>{{booking.tripdate.substring(8,10)}}{{booking.tripdate.substring(4,8)}}{{booking.tripdate.substring(0,4)}}
                {{booking.tripdate.substring(11,16)}}</small>
            </p>
            <p *ngIf="booking.status === 'REVIEW'">PLEASE REVIEW YOUR DRIVER</p>
          </ion-label>
          <ion-badge slot="end" *ngIf="booking.status !== 'REVIEW'">{{booking.status}}</ion-badge>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h2>{{booking.serviceType}}</h2>

            <h2 *ngIf="booking.dropAddress" style="margin-top: 10px">
              Pickup Address:
            </h2>
            <p style="color: gray">{{booking.pickupAddress}}</p>
            <div *ngIf="booking.dropAddress" style="margin-top: 10px">
              <h2>Drop Address:</h2>
              <p style="color: gray">{{booking.dropAddress}}</p>
            </div>
          </ion-label>
          <ion-icon slot="end" name="location-outline" class="ion-margin-end"></ion-icon>
        </ion-item>

        <ion-button expand="block" (click)="openActiveBooking(i)">Open Active Booking</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>