<ion-header>
  <ion-toolbar>
    <ion-title>Estimate</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-list>
    <ion-item *ngIf="PickupService === true">
      <ion-icon slot="start" name="navigate-outline"></ion-icon>

      <ion-label class="ion-text-wrap">
        <h2>Destination Address</h2>
        <p>{{ drop?.add }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="navigate-outline"></ion-icon>

      <ion-label class="ion-text-wrap">
        <h2>Pickup Address</h2>
        <p>{{ pick?.add }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">${{ estimate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-card class="icon-box-card-layout" (click)="pickDate()">
              <ion-icon name="calendar-number-outline" class="calendar"></ion-icon>
              <ion-card-content class="ion-no-padding">
                <p>{{ showDate | date: "MMM d, y" }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card class="icon-box-card-layout" (click)="pickTime()">
              <ion-icon name="time-outline" class="calendar"></ion-icon>
              <ion-card-content class="ion-no-padding">
                <p>{{ showDate | date: "h:mm a" }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="PickupService === true">
          <ion-col size="12" class="ion-no-padding ion-no-margin">
            <ion-card class="ion-no-padding ion-no-margin">
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>Approx Trip time</ion-card-subtitle>
                <ion-card-title>{{ triptime > 60 ? ((triptime / 60).toString().substring(0,1) + ' hour(s) ' + triptime %
                  60 +'
                  minutes') : triptime + ' minutes.' }}
                </ion-card-title>

                <ion-card-subtitle class="ion-margin-top">Approx Distance</ion-card-subtitle>
                <ion-card-title>{{ distance / 1000 }} KM.</ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row wrap *ngIf="PickupService !== true">
          <ion-col size="12">
            <ion-item class="no-border ion-no-padding">
              <ion-label class="ion-margin-start">Trip Time</ion-label>
              <ion-select [(ngModel)]="triptime" (ionChange)="changeEstimate()" style="width: 138px">
                <!--<ion-option value="2" value="default" selected="true">2 Hours</ion-option>-->
                <ion-select-option *ngFor="
                    let v of ['2', '3', '4', '5', '6', '7', '8', '9', '10']
                  " [value]="v">{{ v }} Hours
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-margin-top">
          <ion-col size="6">
            <ion-button color="dark" fill="outline" size="small" expand="block" shape="round" (click)="addPromo()"
              style="font-size: 1.8vh;">
              Add Promo Code
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button color="dark" fill="outline" size="small" expand="block" shape="round" (click)="addCard()"
              style="font-size: 1.8vh;">
              {{
              cardData
              ? cardData.type + " " + cardData.cardEnding
              : "Add Credit Card"
              }}
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button color="dark" expand="block" shape="round" (click)="requestDriver()" [disabled]="requestDone">
              {{ bookingKey ? 'UPDATE REQUEST' : 'REQUEST DRIVER' }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>