<!--
  Generated template for the About page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>
  <ion-toolbarbar color="headerblue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="toptitle"><span class="heavy">ABOUT</span> PickMyDrive</ion-title>
  </ion-toolbarbar>
</ion-header>-->



<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Terms and Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height:100vh;position:relative">
    <div style="overflow:scroll;bottom:0px;height:86vh">
      <section class="ashrectangle">
        1. Agreement
      </section>

      <p class="aboutpara">The terms and conditions contained in this document (the Terms) govern the relationship
        between you and Ridbidder Pty Ltd.By registering an Account and/or making a Booking you agree to comply with and
        be bound by these Terms.</p>

      <section class="ashrectangle">
        2. Interpretation
      </section>
      <p class="aboutpara font">2.1. Definitions</p>

      <section class="liststyle">
        <ul>
          <li>In these Terms the following words have the following meanings:</li>
          <li>Account means your user account as described in clause 3.</li>

          <li>Booking means a request by you for the provision of the Services as described in clause 3.</li>

          <li>Business Day means any day which is not a Saturday, Sunday or public holiday in the state or territory in
            which the Services are provided to you.</li>

          <li>C Class Licence means a C class driver licence as issued by the NSW Roads Maritime Service, or an
            equivalent driver licence issued by any other state or territory in Australia.</li>

          <li>Device means a communications device in the nature of a mobile telephone or tablet computer.</li>

          <li>Driver means a driver who will provide the</li>

          <li>Driving Services means the services to be provided by the Driver in driving you and your vehicle to a
            desired location, as further described in clause 3.1.</li>

          <li>Destination means the destination to which you wish the Driver to drive you and your Vehicle as notified
            to Ridebidder when making a Booking.</li>

          <li>Fee means the amount discussed in clause 5.</li>

          <li>Following Vehicle means the vehicle used by a Driver to get to your Start Location which will then follow
            the Driver and You as the Driver drives your Vehicle to the Destination before collecting the Driver</li>

          <li>Intellectual Property includes but not limited to:
            <ul>
              <li style="line-height: 20px;margin-top:20px">(a) inventions, discoveries and novel designs, whether or
                not registered or registrable as patents or designs, including developments or improvements of
                equipment, products, Technology, processes, methods or techniques;</li>
              <li style="line-height: 20px">(b) copyright (including future copyright) throughout the world in all
                literary works, artistic works, computer Software, and any other works or subject matter in which
                copyright subsists and may in the future subsist;</li>

              <li style="line-height: 20px;margin-top:20px">(c) confidential information and trade secrets;</li>

              <li style="line-height: 20px;margin-top:20px">(d) trade and service marks (whether registered or
                unregistered), business names, trade names, domain names, logos and get-up; </li>

              <li style="line-height: 20px;margin-top:20px">(e) proprietary rights under the Circuit Layouts Act 1989
                (Cth).</li>
            </ul>
          </li>

          <li>Services means the services described in clause 3.</li>
          <li>Software means the application known as Ridebidder, downloaded to your Device.</li>
          <li>Start Location means the location from which you request the Driver to collect you and your Vehicle when
            making a Booking.</li>
          <li>Third Party Provider means an entity, not being a party to these Term, which is either a Driver, or in the
            business of providing Drivers to provide services in the nature of the Driving Services.</li>
          <li>Vehicle means the vehicle you request a Driver to drive on your behalf pursuant to these Terms.</li>
        </ul>
      </section>

      <p class="aboutpara font">2.2. Interpretation</p>

      <section class="liststyle">
        <ul>
          <li>(a) a reference to “you” is a reference to the person which has purchased, downloaded, installed or used
            the Services. Where you are a partnership, body corporate, association, governmental or local authority or
            agency or other entity (other than a natural person) you are responsible ensuring your directors, officers,
            employees, contractors and/or agents (collectively Your Representatives) comply with the obligations of this
            Agreement. Any breach of the terms or obligations contained in this Agreement by any of Your Representatives
            shall be deemed to be a breach of this Agreement by you.</li>

          <li>(b) where any word or phrase is given a defined meaning any other part of speech or other grammatical form
            of that word or phrase has a corresponding meaning;</li>

          <li>(c) headings are inserted for convenience and do not affect the interpretation of this Agreement;</li>

          <li>(d) a reference to a document or instrument includes the document or instrument as novated, altered,
            supplemented or replaced from time to time;</li>

          <li>(e) a reference to a party is to a party to this Agreement, and a reference to a party to this or any
            other document includes the party's executors, administrators, successors and permitted assigns and
            substitutes;</li>

          <li>(f) a reference to a person includes a natural person, partnership, body corporate, association,
            governmental or local authority or agency or other entity;</li>

          <li>(g) words denoting the singular shall include the plural and vice versa and words denoting any gender
            shall include all genders.</li>

          <li>(h) a reference to a statute, ordinance, code or other law includes regulations and other instruments
            under it and consolidations, amendments, re-enactments or replacements of any of them;</li>

          <li>(i) the meaning of general words is not limited by specific examples introduced by including, for example
            or similar expressions;</li>

          <li>(j) a rule of construction does not apply to the disadvantage of a party because the party was responsible
            for the preparation of this Agreement or any part of it; and</li>

          <li>(k) An agreement on the part of, or in favour of, two or more persons binds or is for the benefit of them
            jointly and severally.</li>
        </ul>
      </section>

      <p class="aboutpara font">PART A – THE SERVICES</p>

      <section class="ashrectangle">
        3. Description of Services
      </section>

      <p class="aboutpara font">3.1. What Services Does Ridebidder Provide</p>

      <section class="liststyle">
        <ul>
          <li>Ridebidder offers a Service where you can use the Software to request that a Driver attend at your
            location to drive you and your Vehicle to a desired destination. Ridebidder then refers your request to a
            Third Party Provider to arrange for the provision of the Driving Services.</li>

          <li>When making a Booking you will be required to enter a Start Location and an Destination, to enable
            Ridebidder, a Third Party Provider and/or a Driver to determine whether they wish to accept your Booking.
          </li>

          <li>In the event that a Driver is available then the Driver will attend at the Start Location. The Driver will
            then inspect your Vehicle to ensure that it complies with the warranties contained in clause 4.1, before the
            Driver drives your Vehicle to the Destination, with you and any of your companions as passengers.</li>

          <li>The availability of the Driving Service is subject to the availability of a Driver at the time and
            location requested by you and the acceptance of your Booking by a Driver. Ridebidder makes no
            representations that there will be a Driver available at any desired time or location.</li>

          <li>From time to time a Driver may arrive in a Following Vehicle, which then follows your Vehicle to the
            Destination. A Following Vehicle will not in any circumstances accept any passengers other than the Driver
            and the Following Driver.</li>
        </ul>
      </section>

      <p class="aboutpara font">3.2. Account</p>

      <section class="liststyle">
        <ul>
          <li>In order to obtain the Services you must first register an account with Ridebidder. At a minimum this will
            involve you providing your name, mobile telephone number, email address (which will also be your
            “username”). You will be required to select a password to access your account. You will also be required to
            provide credit card details to facilitate payment of the Fee.</li>

          <li>Failure to provide requested information may prevent you from accessing the Services and/or result in the
            Services being rendered non-functional. Ridebidder shall be deemed not to have breached these Terms and
            shall in no way be liable to you for any loss or damage, whether direct or indirect, for failure of the
            Services occasioned by your failure to provide information, or your provision of incorrect or incomplete
            information, when creating or updating your account.</li>

          <li>Upon creating an account you agree to the following:</li>

          <li> (a) To maintain the confidentiality of your username and password; and</li>

          <li> (b) To immediately notify us of any unauthorized use of your account, username or password; and you
            further agree to indemnify us and release us from any liability for any loss or damage to the extent such
            arises due to your failure to comply with these obligations. This may include paying any Fees incurred by a
            Third Party using your username and password, where you have provided such to them.</li>

          <li>You agree that Ridebidder has the right to suspend or terminate your account, or refuse to provide you
            with Services, in its sole discretion. Circumstances that might cause it to do so include, but are not
            limited to: (c) Where Ridebidder is of the reasonable opinion that you have breached these Terms;</li>

          <li>(d) Where you have previously failed to pay a Fee, including where there have been insufficient funds
            available to pay a Fee on your credit card at the time that Ridebidder has attempted to debit the credit
            card; or</li>

          <li>(e) Where you have repeatedly cancelled requests for the Services after making a Booking.</li>
        </ul>
      </section>

      <p class="aboutpara font">3.3. Independent Contractor</p>
      <section class="liststyle">
        <ul>

          <li>You acknowledge that the Services are a referral service only, by which your Booking is referred to a
            Third Party Provider who either provides, or engages a Driver, to provide the Driver Services, and that each
            Third Party Provider and Driver is an independent contractor and is not an employee or agent of Ridebidder.
          </li>

          <li>You further acknowledge that a Driver is not authorized to bind Ridebidder to any agreement or arrangement
            other than as specifically mentioned in these Terms. Any such purported agreements are unenforceable against
            Ridebidder and void.</li>
        </ul>
      </section>

      <section class="ashrectangle">
        4. Warranties By You
      </section>

      <p class="aboutpara font">4.1. By placing a Booking you warrant that the following are true at the time of the
        Booking and will remain true until the time that the Driving Services have been completed:</p>

      <section class="liststyle">
        <ul>
          <li>(a) That your Vehicle is registered;</li>

          <li>(b) That any and all insurances that are mandated by any law have been obtained and are in force in
            relation to the Vehicle;</li>

          <li>(c) That you either own the Vehicle or are authorized by the owner of the Vehicle to operate the Vehicle
            and to authorize the Driver to operate the Vehicle;</li>

          <li>(d) That the Vehicle is of a type the operation of which can be driven by the holder of a C Class Licence;
          </li>

          <li>(e) That you and any intended passengers of the Vehicle (excluding the Driver) will not act in a manner
            which might reasonably result in the Driver infringing any rules or laws relating to the operation of a
            vehicle;</li>

          <li>(f) That you and any intended passengers of the Vehicle (excluding the Driver) will not act in an
            offensive manner, either to the Driver or any member of the public; and</li>

          <li>(g) That your vehicle is in a roadworthy state, including that:</li>

          <li>(i) All external lights (including indicators, headlights, break-lights, reversing lights and the like)
            are in full working order;</li>

          <li>(ii) That your car is in full working order (including that there are no warning indicators in the nature
            of a check-engine light or similar, which might indicate a fault with the vehicle);</li>

          <li>(iii) Your Vehicle has a seat belt for each intended passenger (including both yourself and the Driver);
            and</li>

          <li>(iv) That your Vehicle will have sufficient fuel to complete the journey from the Start Location to the
            Destination. If fuel is insufficient then you may request driver to pull into a service station. You will be
            responsible for putting fuel in the vehicle and paying for it.</li>
        </ul>
      </section>

      <p class="aboutpara font">4.2. You indemnify Ridebidder and the Driver for any loss or damage incurred by
        Ridebidder or the Driver as a result of your breach of the warranties contained in clause 4.1.</p>

      <p class="aboutpara font">4.3. In the event that any of the warranties contained in clause 4.1 are not, or cease
        to be, true then Ridebidder or the Driver may terminate the Driving Services and charge you a Cancellation Fee
        as detailed in clause 6.</p>

      <section class="ashrectangle">
        5. Fee
      </section>
      <section class="liststyle">
        <ul>
          <li>5.1. In consideration for Ridebidder providing you with the Services you agree to pay the Fee in
            accordance with our Schedule of Fees, as contained on the Ridebidder website, and as updated from time to
            time.</li>

          <li>5.2. By creating an account and booking Services you agree to Ridebidder deducting the Fee from the credit
            card you provided to Ridebidder at the time you created your account or any substitute credit card provided
            from time to time.</li>

          <li>5.3. You further agree that where Ridebidder has any concerns as to the availability of funds on your
            credit card to pay the Fee, Ridebidder may deduct the estimated Fee (based on the selected Start Location
            and Destination contained in your Booking) from your credit card prior to agreeing to provide the Services.
            In the event that the final Fee varies from the estimated Fee the Ridebidder will credit or debit the
            difference to your credit card as appropriate after the Driving Service has been provided.</li>

          <li>5.4. While Ridebidder may from time to time change our Fees you will only be required to pay the Fee which
            was applicable at the date on which you made a Booking.
          </li>

          <li>5.5. Prior to booking a Service you may request an estimate of the Fees using the fare estimate
            functionality of the Software. You acknowledge that any estimate provided is for guidance only and may be
            subject to change in the following circumstances:

            <ul>
              <li style="line-height: 20px;margin-top:20px"> (a) You request additional stops on your journey, for
                example to drop your companions to their homes;</li>

              <li style="line-height: 20px;margin-top:20px">(b) At any point after arriving at the Start Location and
                before arriving at the Destination the Driver is required to wait for longer than 5 minutes due to your
                actions or those of another passenger;</li>

              <li style="line-height: 20px;margin-top:20px">(c) If the Driver is required to take a longer route to your
                desired destination due to factors beyond the Driver’s reasonable control, for example roadworks or an
                accident.</li>

              <li style="line-height: 20px;margin-top:20px">(d) Heavy traffic conditions. </li>
            </ul>


          </li>


        </ul>
      </section>

      <section class="ashrectangle">
        6. Cancellation
      </section>


      <section class="liststyle">
        <ul>
          <li>6.1. You may cancel a request for the provision of Services at any time. In the event that you cancel your
            Booking greater than 5 minutes after making the Booking you authorize Ridebidder to charge a Cancellation
            Fee to your credit card.</li>

          <li>6.2. Ridebidder or a Driver may cancel the provision of Services or Driving Services to you at any time.
            In the event that the Service is cancelled due to no fault of your own or your intended passengers then you
            will not be required to pay a Cancellation Fee. </li>

          <li>6.3. Where the Service or Driving Service is cancelled due to your actions or those of your intended
            passengers then a Cancellation Fee will be payable. </li>

          <li>6.4. Circumstances where you will be required to pay a Cancellation Fee include but are not limited to
            where it becomes apparent that you have breached any of the warranties contained in clause 4.1.</li>

          <li>6.5. It may be necessary for the Driver to cancel the Service during your journey due to your actions.
            Circumstances where this might happen include, but are not limited to, you or your passengers acting in an
            abusive or offensive manner, in breach of your obligations under these Terms. In such circumstances the
            Driver will park your Vehicle in the closest available lawful location, will hand you your keys and will
            leave. In such circumstances you will not be entitled to make a further Booking to complete your journey and
            you indemnify Ridebidder and release Ridebidder from any liability for any loss or damage caused to any
            person as a result of a cancellation by a Driver under this clause.</li>

          <li>6.6. Applicable Cancellation Fees may be found in Ridebidder’s Schedule of Fees, located on the Ridebidder
            website. These fees are subject to change from time to time, however in the event that you are required to
            pay a Cancellation Fee it will be calculated by reference to the Cancellation Fees payable at the time you
            made your Booking. </li>

          <li>6.7. Circumstances which may entitle Ridebidder to charge you a cancellation fee are as follows:
            <ul>
              <li style="line-height: 20px;margin-top:20px">(a) Where you cancel a Booking more than 5 minutes after
                originally requesting the Booking; or</li>

              <li style="line-height: 20px;margin-top:20px">(b) Where at any point in time either Ridebidder or the
                Driver becomes of the opinion that any of the warranties contained in clause 4.1 are incorrect.</li>
            </ul>
          <li>
          <li>6.8. In the event that Ridebidder cancels the Service through no fault of yours you will not be charged
            any Fees for the cancelled Service.</li>

        </ul>
      </section>

      <section class="ashrectangle">
        7. Insurance
      </section>

      <section class="liststyle">
        <ul>
          <li>7.1. Ridebidder does not guarantee that any Driver or Third Party Provider has insurance in the event that
            there is an accident involving your Vehicle where the Driver is at fault. Ridebidder strongly recommends
            that you take out appropriate insurance covering such an event prior to making your first booking.</li>

          <li>7.2. In the event that you suffer loss or damage due to an accident caused by the Driver (Driver Accident)
            please notify Ridebidder as soon as possible. If the relevant Third Party Provider does have insurance
            covering the Driver Accident then Ridebidder will facilitate contact between you and the relevant Third
            Party Provider in order for you to claim on the insurance. Note that you may be required to provide
            additional information relating to the nature and cause of the accident. </li>

          <li>7.3. In circumstances where the relevant Third Party Provider does not have insurance covering a Driver
            Accident, without admitting any liability for the actions of a Driver, Ridebidder will reimburse you up to
            $1,000 (inclusive of GST) for any out of pocket expenses you incur as a result of any loss or damage caused
            to your vehicle due to a Driver Accident. This reimbursement is conditional upon you undertaking the
            following actions:
            <ul>
              <li>(a) You notifying Ridebidder as soon as reasonably possible after the Driver Accident, including such
                details regarding the circumstances of the Driver Accident as Ridebidder might reasonably request;</li>
              <li>(b) You allowing Ridebidder or its representative to inspect your Vehicle to review the nature and
                extent of the damage; and</li>
              <li>(c) You providing written evidence, to Ridebidder’s reasonable satisfaction, of the quantum of any out
                of pocket expenses.</li>
            </ul>

          <li>


          <li>7.4. Neither Ridebidder, a Third Party Provider nor a Driver have obtained insurance over your vehicle for
            loss or damage. It is your sole responsibility to obtain such insurance if you feel it is necessary and
            appropriate. To the full extent permitted by law you release Ridebidder from any liability for any loss or
            damage incurred by any person as a result of any motor vehicle accident occurring during the provision of
            the Driving Services.</li>


        </ul>
      </section>


      <p class="aboutpara font">PART B – THE SOFTWARE</p>

      <section class="ashrectangle">
        8. Licence Grant
      </section>
      <section class="liststyle">
        <ul>

          <li>Ridebidder grants you a Licence to install and use the Software. This Licence allows you to install copies
            of the Software on an unlimited number of Devices, subject to these Terms.</li>
        </ul>
      </section>

      <section class="ashrectangle">
        9. Conditions of Use
      </section>

      <section class="liststyle">
        <ul>
          <li>It is a condition of your use of the Software that you not misuse the Software or use it in contravention
            of any law. Examples of misuse include, but are not limited to, any use which:
            <ul>
              <li style="line-height: 20px;margin-top:20px">(a) Violates or infringes the Intellectual Property rights
                or any other rights of any person;</li>

              <li style="line-height: 20px">(b) Involves the production, publishing or transmission of any material
                which is unlawfully pornographic, indecent or which breaches any law relating to the prohibition of
                discrimination or bigotry whether on the grounds of race, gender, religion, sexual orientation or
                otherwise;</li>

              <li style="line-height: 20px">(c) Is unlawfully defamatory;</li>

              <li style="line-height: 20px">(d) Is in violation of any law in force in Australia;</li>

              <li style="line-height: 20px">(e) Involves the transmission of unsolicited or unauthorized marketing,
                advertising or promotional material;</li>

              <li style="line-height: 20px">(f) does or attempts to transmit or install any virus, worms, Trojan horse,
                malicious software or any other software or computer code or files designed or intended to disable,
                destroy or interfere with any software or equipment;</li>

              <li style="line-height: 20px">(g) Uses automated scripts, sliders, lots or similar means to harvest or
                collect information from the Services; or</li>

              <li style="line-height: 20px">(h) Interferes with or disrupts the Services, software system or any
                network, whether operated by Ridebidder or any other person, for example by sending a virus,
                overloading, flooding, spamming or mail-bombing any such site and/or network cycle.</li>
            </ul>
          </li>
        </ul>
      </section>


      <section class="ashrectangle">
        10. Updates
      </section>

      <section class="liststyle">
        <ul>
          <li>From time to time it may become necessary for Ridebidder to update or release new versions of the Software
            (collectively the Updates) either to add functionality or to rectify errors which have become apparent with
            the Software. In such circumstances Ridebidder may require you to install the Updates and your ability to
            use the Services may be limited or suspended until you install the Updates. In some circumstances Ridebidder
            may elect, at its sole discretion, to cancel any Account that you have with Ridebidder until such time as
            you install the Updates.</li>
          <li>In addition to the above paragraph, Ridebidder may elect, at its sole discretion, not to provide support
            for previous versions of the Software where an Update has been made available and not installed by you. In
            such circumstances you release Ridebidder from any and all liability for loss or damage, whether direct or
            indirect, to you or any other person incurred as a result of Ridebidder refusing to provide support for a
            version of the Software which has been superseded by an Update.</li>

          <li>The downloading, installation and use of any Updates is subject to these Terms.</li>
        </ul>
      </section>

      <section class="ashrectangle">
        11. Third Party Services
      </section>
      <section class="liststyle">
        <ul>
          <li>
            From time to time the Software may contain references or links to websites or resources provided by third
            parties (collectively Third Party Resources). Ridebidder makes no representations or warranties as to the
            availability, legality, appropriateness, accuracy or efficacy of the Third Party Resources. When you access
            or use Third Party Resources you do so entirely at your own risk. You release Ridebidder from liability,
            whether direct or indirect, for any loss or damage suffered by you or any other person as a result of your
            reliance on, access of or other use of any Third Party Resources.
          </li>
        </ul>
      </section>

      <section class="ashrectangle">
        12. Assignment
      </section>
      <section class="liststyle">
        <ul>
          <li>
            You may not assign, transfer or novate your rights under these Terms or to the Services to any third party
            nor may you sell, lease or sublicense your rights under these Terms to the Services.
          </li>
        </ul>
      </section>

      <section class="ashrectangle">
        13. Restrictions on Use
      </section>
      <section class="liststyle">
        <ul>
          <li>
            You must not attempt to reverse engineer, disassemble or otherwise attempt to derive or access source code
            from the Software.
          </li>
          <li>You must only use the Software for its ordinary use in accordance with the purposes for which it was
            provided to you by Ridebidder and in compliance with any directions and/or guidelines made available to you
            by Ridebidder.</li>
        </ul>
      </section>

      <section class="ashrectangle">
        14. Restrictions on Alteration
      </section>
      <section class="liststyle">
        <ul>
          <li>
            You must not seek to alter or modifying the Software or to create any alternative or derivative work based
            on, incorporating, or relating to the Software. This includes a restriction on translating software into any
            language other than English.
          </li>
          <li>In the event of a breach of this provision you immediately assign any and all rights to any improvements,
            alterations or other changes, including new developments, in any way related to the Software, to Ridebidder;
            whether or not such changes or new developments legally constitute adequate differences to be considered new
            Intellectual Property. You shall take all steps necessary to ensure such rights vest in the Ridebidder.
          </li>

        </ul>
      </section>


      <section class="ashrectangle">
        15. Ridebidder’s Intellectual Property
      </section>
      <section class="liststyle">
        <ul>
          <li>
            You recognise that all Intellectual Property used on or in relation to the Software is the property of
            Ridebidder.</li>

          <li>You will not do or permit to be done any act or thing which might in any way impair or infringe the
            goodwill or other rights of Ridebidder in the Intellectual Property, or which might otherwise prejudice or
            damage the reputation of such Intellectual Property.</li>

        </ul>
      </section>

      <section class="ashrectangle">
        16. Disclaimer of Warranties
      </section>
      <section class="liststyle">
        <ul>
          <li>
            To the extent permitted by law, unless specifically agreed to in writing by Ridebidder, Ridebidder makes no
            warranties, express or implied, in relation to the Services, or its suitability for any purpose save as
            detailed in these Terms. Specifically Ridebidder makes no warranty that the Software or Services will be
            error free or free from interruption, delay or communications failure.</li>

          <li>To the extent permissible by law Ridebidder makes no warranties and you release Ridebidder from any
            liability, whether direct or indirect, for any loss or damage relating to any problems or difficulties
            relating to the Software due to internet connections, telephone lines, computer systems, Devices, third
            party service providers (including internet service providers) or any technical problems or traffic
            congestion on the internet or any website, save to the extent such is caused by Ridebidder.</li>

          <li>The Services come with guarantees that cannot be excluded under the Australian Consumer Law. You are
            entitled to a replacement or refund for a major failure and compensation for any other reasonably
            foreseeable loss or damage. You are also entitled to have the goods repaired or replaced if the goods fail
            to be of acceptable quality and the failure does not amount to a major failure.</li>

        </ul>
      </section>

      <section class="ashrectangle">
        17. Waiver of Liability
      </section>
      <section class="liststyle">
        <ul>
          <li>
            To the extent permissible by law Ridebidder, its directors, officers, employees or agents will not be liable
            to you or any other party for any indirect, consequential, special, incidental, punitive or exemplary
            damages of any kind (including lost revenues and profits or loss of business) resulting from this Agreement
            or from the provision, performance, installation or use of the Services, whether due to breach of contract,
            negligence or otherwise, even if Ridebidder is advised before end of the possibility of such loss or damage.
          </li>

        </ul>
      </section>


      <section class="ashrectangle">
        18. Indemnity
      </section>
      <section class="liststyle">
        <ul>
          <li>
            You agree to indemnify and hold Ridebidder harmless from all claims, judgements, liabilities, damages,
            expenses or costs arising from your breach of these Terms, any other agreement relating to your
            installation, downloading or other use of the Software, use of the Services and/or your acts or omissions,
            whether negligent or otherwise. Such expenses or costs may include, but not limited to, any legal fees
            incurred by Ridebidder on a solicitor/client basis.</li>

        </ul>
      </section>

      <section class="ashrectangle">
        19. Consequences of Breach and Termination
      </section>
      <section class="liststyle">
        <ul>
          <li>If you are in breach of this Agreement, Ridebidder may, in addition to, or as an alternative to
            terminating the Services (such determination to be at Ridebidder’s sole discretion):</li>
          <li>
            <ul>
              <li>(a) Suspend and/or cancel any Account that you have with Ridebidder;</li>
              <li>(b) Be regarded as discharged from any further obligations under these Terms; and</li>
              <li> (c) Pursue any additional alternative remedies provided by these Terms or any law.</li>
            </ul>
          </li>
        </ul>
      </section>

      <section class="ashrectangle">
        20. Rights to Survive Termination
      </section>
      <section class="liststyle">
        <ul>
          <li>Termination of these Terms or your account or any other agreement between you and Ridebidder will not
            release you from the obligations of this Agreement regarding the use of the Services or from any liability
            or right of action which at the time of expiry or termination has already accrued to Ridebidder or which may
            thereafter accrue in respect of any act or omission prior to such termination.</li>
        </ul>
      </section>

      <section class="ashrectangle">
        21. Governing Law and Jurisdiction
      </section>

      <section class="liststyle">
        <ul>
          <li>This Agreement will be governed by and construed in accordance with the laws in force in the State of New
            South Wales, Australia</li>

          <li>Each party irrevocably and unconditionally submits to the non-exclusive jurisdiction of the courts of the
            State New South Wales, Australia and courts of appeal from them for determining any dispute concerning this
            Agreement or the transactions contemplated by it. </li>

          <li>Each party waives any right it has to object to an action being brought in those courts including, but not
            limited to, claiming that the action has been brought in an inconvenient forum or that those courts do not
            have jurisdiction.</li>
        </ul>
      </section>

      <section class="ashrectangle">
        22. Severability
      </section>
      <section class="liststyle">
        <ul>
          <li>This provision applies in respect of reading down or severing the provisions of this Agreement.</li>

          <li>A word or provision must be read down if the Agreement or provision is void, voidable, or unenforceable if
            it is not read down and the word or provision is capable of being read down.</li>

          <li>A word or provision must be severed if, despite the operation of the above paragraph the Agreement or
            provision is void, voidable or unenforceable if the word or provision is not severed and the remainder of
            this Agreement has full effect even if this paragraph applies.</li>
        </ul>
      </section>

      <section class="ashrectangle">
        23. Privacy
      </section>

      <section class="liststyle">
        <ul>
          <li>Ridebidder takes individual’s privacy seriously. A copy of Ridebidder’s privacy policy can be found on its
            website at: www.ridebidder.com.au/privacypolicy </li>
        </ul>
      </section>

      <section class="ashrectangle">
        24. Contact
      </section>
      <section class="liststyle" style="    margin-bottom: 15%;">
        <ul>
          <li>If you have any queries regarding this Agreement or the Services then you may contact Ridebidder by the
            following means: Email: contact@ridebidder.com.au</li>
        </ul>
      </section>
    </div>
    <!-- <div style="left:0px;right:0px;bottom:0px;position:fixed;">    -->

    <!-- <div class="acceptBtn">
      <button class="btnaccept" (click)="modalclose()">Accept</button>
    </div> -->
  </div>
</ion-content>
<ion-footer>
  <ion-button class="ion-margin" expand="block" color="dark" (click)="modalclose()"> Accept </ion-button>
</ion-footer>

