.ion-button.activated {
  background-color: #000 !important;
}

ion-button:hover {
  background-color: #000 !important;
}
.support-section {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  margin-top: 15%;
}
@import "../reviewdriver/reviewdriver.page.scss";

.loginimage {
  width: 30% !important;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.formwrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  margin-top: 15%;
}

// .field{padding: 15px; background: #f4f4f4; border: 1px solid #d4d4d4; border-radius: 25px; color: #8d8d8d; font-family:'PT Sans'; font-size: 16px; width: 100%; display: block;}
.field {
  padding: 4%;
  background: #fff;
  color: black;
  border: 1px solid #f9f9f9;
  border-radius: 10px;
  font-family: "PT Sans";
  font-size: 16px;
  width: 100%;
  display: block;
  margin: 0px !important;
  margin-bottom: 15px !important;
}
.blackbutton {
  @extend .darkbutton;
  width: 50%;
  background: #09738d !important;
  border-radius: 10px;
  white-space: nowrap;
  padding: 15px 32px;
}
.blackbutton:hover {
  background: white !important;
  width: 50%;
  color: #000;
  border-radius: 50px;
  white-space: nowrap;
  padding: 15px 32px;
}
.scroll-content {
  margin-top: 13%;
}
.fixed-content {
  margin-top: 13%;
}

.left-float {
  float: left;
  margin-right: 10px;
}
.logo-text {
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  text-shadow: #000;
}
.logo-text span {
  padding: 4px;
  font-weight: 300 !important;
  color: #d3d3d3;
}
.signup-container {
  text-align: center;
  margin-top: 22%;
}
.logo-font {
  font-size: 3.4rem !important;
}
.signup-container p {
  color: #fff;
  margin-top: -50px;
}
.signup-container span {
  color: #969494;
}
.login-container {
  background-color: #000;
}

@media (min-width: 568px) {
  .loginimage {
    width: 15% !important;
  }
}
