<!--
  Generated template for the Registercustomer page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>
  <ion-toolbarbar color="headerblue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="toptitle"><span class="heavy">REGISTER CUSTOMER</span></ion-title>
  </ion-toolbarbar>
</ion-header>-->

<ion-header>
  <ion-toolbar color="dark">
    <!-- <button ion-button (click)="ToggleMenuBar()">
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <!-- <ion-title><span class="heavy toptitle">REGISTER CUSTOMER</span></ion-title>-->
    <ion-title class="toptitle"
      ><span class="heavy">REGISTER CUSTOMER</span></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <section class="support-section">
    <!-- <img src="assets/images/supportlogo.png"> -->
    <p class="logo-text" style="color: rgb(252, 252, 252) !important">
      RideBidder
    </p>
    <section class="profileformwrapper">
      <form>
        <div style="margin-bottom: 5px">
          <input
            class="field"
            type="text"
            name="fullname"
            placeholder="Name"
            [(ngModel)]="fullname"
          />
        </div>
        <div style="margin-bottom: 5px">
          <input
            class="field"
            type="text"
            name="Email"
            placeholder="Email"
            [(ngModel)]="email"
          />
        </div>
        <div style="margin-bottom: 5px">
          <input
            class="field"
            *ngIf="showInput"
            type="password"
            name="Password"
            placeholder="Password"
            [(ngModel)]="password"
          />
        </div>
        <div style="margin-bottom: 5px">
          <input
            class="field"
            type="password"
            *ngIf="showInput"
            name="Confirm Password"
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword"
          />
        </div>
        <div style="margin-bottom: 5px">
          <input
            class="field"
            type="text"
            name="Phone"
            placeholder="Contact Number"
            [(ngModel)]="phone"
          />
        </div>
        <div style="margin-bottom: 5px">
          <input
            class="field"
            type="text"
            name="City"
            placeholder="City"
            [(ngModel)]="cityname"
          />
        </div>
        <!-- <input class="field" type="text" name="Vehicle Number" placeholder="Vehicle Number" [(ngModel)]="vehicle"> -->
        <!-- <ion-item>
      <ion-label>I agree to terms & Conditions</ion-label>
      <ion-checkbox color="dark" ></ion-checkbox>
      </ion-item>-->
        <button class="blackbutton" ion-button round (click)="doRegistration()">
          Register
        </button>
      </form>
      <!--<p style="text-align:center"> Read our <a (click)="modalopen()">Terms and Conditions</a></p>-->
    </section>

    <div class="signup-container">
      <p color="bright" (click)="goToSignin()">
        <span color="light" style="margin-top: -100px"
          >Already Have An Account? <b> Sign in </b>
        </span>
      </p>
    </div>
  </section>
</ion-content>
