<!--
  Generated template for the Reviewdriver page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>
  <ion-toolbarbar color="headerblue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="toptitle"><span class="heavy">REVIEW DRIVER</span></ion-title>
  </ion-toolbarbar>
</ion-header>-->

<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons>
      <!-- <ion-button fill="clear" (click)="ToggleMenuBar()">
      <ion-icon name="menu"></ion-icon>
    </ion-button> -->
      <ion-button (click)="nav.pop()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><span class="heavy toptitle">REVIEW DRIVER</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="support-section reviewimage">
    <!--<img src="assets/images/supportlogo.png">-->
    <!--<img src="assets/images/stars.jpg">-->
    <div class="ion-text-center">
      <ion-rating [(ngModel)]="rate" size="default"> </ion-rating>
      <!-- <rating [(ngModel)]="rate" name="rate" ngDefaultControl max="5"></rating> -->
    </div>
    <h2
      class="review-title"
      *ngIf="booking!= undefined && booking.hasOwnProperty('trip_cost')"
    >
      Your Trip Cost is ${{booking.trip_cost.toFixed(2)}}
    </h2>
    <section class="ashrectangle-review">
      <ion-textarea
        [(ngModel)]="notes"
        placeholder="Enter your comments or notes"
      >
      </ion-textarea>
    </section>

    <!--<section class="checkboxwrapper">
			<ion-grid>
				<ion-row>
					<ion-col width-20>
						<ion-checkbox color="headerblue" checked="false" [(ngModel)]="favourite"></ion-checkbox>
					</ion-col>
					<ion-col width-80 class="checkboxtext">Mark as favourite</ion-col>
				</ion-row>
			</ion-grid>
		</section>-->

    <button
      class="darkbutton"
      ion-button
      color="dark"
      round
      (click)="reviewSubmit()"
    >
      Submit
    </button>
    <!-- <button class="darkbutton" ion-button color="dark" round (click)="paymentSubmit()">payment</button> -->
  </section>
</ion-content>
