@import "../terms//terms.page.scss";

.review-title {
  font-family: "PT Sans";
  font-size: 23px;
  color: #2e2e2e;
  text-align: center;
  margin: 0;
  padding-top: 3%;
}

ion-rating {
  --color: gray;
  --color-filled: green;
}

.ashrectangle-review {
  @extend .ashrectangle;
  width: 90%;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.no-border {
  border: none !important;
}

.checkboxwrapper {
  width: 53%;
  margin: 0 auto;
  display: block;
}

.checkboxtext {
  font-family: "PT Sans";
  font-size: 16px;
  color: #2e2e2e;
}

.darkbutton {
  border-radius: 10px;
  padding: 10px 100px;
  margin: 10px auto;
  display: block;
  background: #2e2e2e;
  font-weight: normal;
  text-transform: none;
  color: #fff;
  font-family: "PT Sans";
  font-size: 19px;
}

.padding-back {
  padding-right: 5px;
}
.reviewimage img {
  padding-bottom: 10px !important;
}
.rate {
  color: #ffae00;
  font-size: 25px;
  padding-bottom: 20px;
  display: inline;
  text-align: center;
}
.rate ul {
  margin: 0 auto !important;
  padding: 0;
  display: block;
  width: 100%;
}

@media screen and (orientation: landscape) {
  .rate ul {
    margin: 0 auto !important;
    padding: 0;
    display: block;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .checkboxwrapper {
    width: 60%;
  }
}

@media (min-width: 640px) {
  .checkboxwrapper {
    width: 30%;
  }
}
