@import "../login/login.page.scss";
.bannerprofile {
  width: 100%;
  background: url("/assets/images/profileback.png") no-repeat;
  background-size: cover;
  padding-top: 20px;
  margin-bottom: 20px;
}
.bannerprofile img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid gray;
}
.bannerprofile p {
  color: #fff;
  margin: 0;
  padding: 5px 0 18px 0;
  font-family: "PT Sans";
  font-size: 23px;
  text-align: center;
}
.bannerprofile p span {
  font-size: 16px;
}
.profileformwrapper {
  @extend .formwrapper;
  width: 85%;
  padding: 15px;
}

.ion-button.activated {
  background-color: #000 !important;
}

.blackbutton {
  border-radius: 20px;
}

ion-button:hover {
  background-color: #000 !important;
}

.field {
  border: 1px solid gray;
  padding: 4%;
  border-radius: 10px;
  margin-bottom: 10px;
}
