<!--
  Generated template for the Receipt page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>
  <ion-toolbarbar color="headerblue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="toptitle"><span class="heavy">RECEIPT</span></ion-title>
  </ion-toolbarbar>
</ion-header>-->

<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons>
    <ion-button fill="clear" (click)="ToggleMenuBar()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title><span class="heavy toptitle">RECEIPT</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="receiptpagellogo" src="assets/images/supportlogo.png">
  <p class="booking">BOOKING ID : <span>7002598</span></p>
  <section class="receiptdiv">
    <h2>$80.00</h2>
  </section>
  <section class="ashrectangle-receipt">
    <p class="pick">Pickup 05:02 PM</p>
    <p class="address">25, Haberfield New South Wales 2045</p>
  </section>
  <section class="ashrectangle-receipt">
    <p class="pick">Drop Off 05:21 PM</p>
    <p class="address">10, Lorem Ipsum New South Wales 2045</p>
  </section>
  <section class="duration">
    <ion-grid>
      <ion-row>
        <ion-col class="no-padding">Duration <span>00H:18M:44S</span></ion-col>
        <ion-col class="righttext">Distance <span>6.48 Km</span></ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <section class="ashrectangle-fare">
    $80.00
  </section>
  <button class="darkbutton" (click)='postReview()' ion-button color="dark" round>Review Driver</button>
</ion-content>
