.receiptpagellogo {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
.booking {
  text-align: center;
  font-family: "PT Sans";
  color: #2b2b2b;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  padding-top: 10px;
}
.booking span {
  color: #222;
}
.receiptdiv {
  width: 95%;
  position: relative;
  margin: 38px auto;
  height: 0.2%;
  background: #222;
}
.receiptdiv h2 {
  width: 48%;
  display: block;
  background: #fff;
  color: #2b2b2b;
  font-family: "PT Sans";
  font-size: 47px;
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: bold;
  text-align: center;
}
.ashrectangle-receipt {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  background: #f4f4f4;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  padding: 12px;
}
.pick {
  text-align: left;
  font-family: "PT Sans";
  font-size: 16px;
  color: #a0a0a0;
  padding-bottom: 18px;
  margin: 0;
}
.address {
  font-family: "PT Sans";
  font-size: 20px;
  color: #2e2e2e;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
  font-weight: bold;
}
.duration {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  color: #9d9d9d;
  font-family: "PT Sans";
  font-size: 16px;
  text-align: left;
}
.duration span {
  color: #222;
  font-weight: bold;
}
.righttext {
  text-align: right;
}
.ashrectangle-fare {
  @extend .ashrectangle-receipt;
  text-align: center;
  font-family: "PT Sans";
  color: #2e2e2e;
  font-weight: bold;
  font-size: 47px;
  margin-bottom: 20px;
}

@media (min-width: 568px) {
  .receiptdiv h2 {
    width: 30%;
  }
}
