<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="nav.pop()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Requesting...</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="editLocation()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

  <!-- <ion-toolbar color="dark">
    <ion-button fill="clear" (click)="ToggleMenuBar()" color="light">
      <ion-icon name="menu"></ion-icon>
    </ion-button>

    <ion-title><span class="heavy">BOOKING</span></ion-title>

    <ion-button slot="end" fill="clear" (click)="editLocation()" color="light">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div #map2 id="map2" style="height: 100%; margin-top: 15%"></div>
  <section class="mapcontainer">
    <div>
      <ion-list class="ion-margin-top">
        <!-- <ion-item *ngIf="PickupService === true">
          <ion-icon slot="start" name="navigate-outline"></ion-icon>

          <ion-label class="ion-text-wrap">
            <h2>Destination Address</h2>
            <p>{{booking?.pickup.add}}</p>
          </ion-label>
        </ion-item> -->
        <ion-item>
          <ion-icon slot="start" name="navigate-outline"></ion-icon>


          <ion-label class="ion-text-wrap">
            <h2>Pickup Address</h2>
            <p>{{booking?.pickup?.add}}</p>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="booking?.drop?.add">
          <ion-icon slot="start" name="navigate-outline"></ion-icon>


          <ion-label class="ion-text-wrap">
            <h2>Drop Address</h2>
            <p>{{booking?.drop?.add}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <!-- <section class="topnotification-wrapper">
        <section class="topnotification">
          <ion-grid class="no-padding">
            <ion-row>
              <ion-col size="2" class="marker">
                <img src="assets/images/marker.png" />
              </ion-col>
              <ion-col size="10" class="no-padding">
                <ion-item>
          

                  <ion-label class="ion-text-wrap">
                    <h2>Pickup Address</h2>
                    <p>{{booking?.pickup.add}}</p>
                  </ion-label>
                </ion-item>
              
              </ion-col>
            </ion-row>
          </ion-grid>
        </section>
      </section> -->

      <section class="driver-snippet">
        <ion-grid>
          <ion-row wrap *ngIf="booking?.status !== 'Finding your driver'">

            <ion-col size="12">
              <!-- <ion-list *ngIf!="showImage" no-lines class="no-padding no-margin">-->
              <ion-list no-lines class="no-padding no-margin">
                <ion-item lines="none">
                  <ion-avatar slot="start">
                    <img [src]="booking.image_url !== '' ? booking.image_url : 'assets/images/notfound.png'"
                      onerror="this.onerror=null;this.src='assets/images/notfound.png';" />
                  </ion-avatar>
                  <ion-label>
                    <p>
                      <small>{{booking?.tripdate?.substring(8,10)}}{{booking?.tripdate?.substring(4,8)}}{{booking?.tripdate?.substring(0,4)}}
                        {{booking?.tripdate?.substring(11,16)}}</small>
                    </p>
                    <p *ngIf="booking.status === 'REVIEW'">PLEASE REVIEW YOUR DRIVER</p>
                  </ion-label>
                  <ion-badge slot="end" *ngIf="booking.status !== 'REVIEW'">{{booking?.status}}</ion-badge>
                </ion-item>

                <!-- <ion-item class="no-border">
                  <ion-avatar item-left>
                    <img [src]="booking?.image_url" onerror="this.onerror=null;this.src='assets/images/notfound.png';"
                      alt="avatar" />
                  </ion-avatar>
                  <ion-label class="ion-text-wrap">
                    <h2>{{booking?.driver_name}}</h2>
                  </ion-label>
                </ion-item> -->
              </ion-list>
            </ion-col>
            <!-- <ion-col width-33 class="padding-status">
              <ion-icon name="ios-checkmark-circle" item-left></ion-icon>
              {{booking?.status}}
            </ion-col> -->
          </ion-row>

          <ion-row *ngIf="booking?.status === 'Finding your driver'">
            <ion-col>
              <p style="text-align: center">
                <strong>Finding your driver, please wait.....</strong>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="wrapper-driversnippet">
          <ion-grid class="no-padding-top">
            <ion-row class="customer-icons" *ngIf="booking?.status !== 'Finding your driver'">
              <ion-col class="centertext no-padding-top">
                <!--<ion-col *ngIf!="showImage"  class="centertext no-padding-top" >-->
                <img src="assets/images/phone.png" (click)="giveCall()" alt="phone" />
                Contact
              </ion-col>
              <ion-col (click)="getHelp()" class="centertext no-padding-top">
                <img src="assets/images/info.png" alt="help" />
                Help
              </ion-col>
              <ion-col (click)="cancelBooking()" class="centertext no-padding-top">
                <img src="assets/images/cancel.png" alt="cancel" />
                Cancel
              </ion-col>
            </ion-row>
            <ion-row class="customer-icons" *ngIf="booking?.status === 'Finding your driver'">
              <ion-col (click)="getHelp()" class="centertext no-padding-top">
                <img src="assets/images/info.png" alt="help" />
                Help
              </ion-col>
              <ion-col class="centertext no-padding-top" style="width: 50%">
                <ion-spinner></ion-spinner>
                <!-- <img src="assets/images/loader-spinner.gif" alt="loader" /> -->
              </ion-col>
              <ion-col (click)="cancelBooking()" [disabled]="true" class="centertext no-padding-top">
                <img src="assets/images/cancel.png" alt="cancel" />
                Cancel
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </section>
    </div>
  </section>
</ion-content>