page-activebooking {
  #map2 {
    height: 100%;
  }
}

.rightmenu {
  color: #fff;
  background: none !important;
  padding: 0 !important;
}

.sebm-google-map-container {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 150ms ease-in;
  position: relative;
}

.gmap {
  width: 100%;
  position: relative;
}
.gmap-button-wrapper {
  position: absolute;
  width: 100%;
  display: block;
  height: auto;
}
.cusb {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 40px;
}
.darkbutton1 {
  width: 100%;
  padding: 22px 0;
  font-family: "PT Sans";
  font-size: 18px;
  text-transform: capitalize;
  font-weight: normal;
}
.button-md-dark.activated,
.button-md.activated {
  background: #222 !important;
}
.button-md:hover:not(.disable-hover) {
  background: #222 !important;
}

.mapcontainer {
  width: 100%;
  height: 100%;
  position: absolute;
  // background: #dbdbdb;
  top: 0;
}
.topnotification-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
}
.mapbutton-wrapper {
  width: 80%;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.topnotification {
  width: 100%;
  background: #fff;
  margin-bottom: 2px;
  padding: 0px 2px;
}
.subbluetext-map {
  font-family: "PT Sans";
  font-size: 14px;
  text-align: left;
  color: #2b2b2b;
  margin: 0;
  padding-bottom: 8px;
}
.bluetext-map {
  // @extend .subbluetext-map !optional;
  // font-size: 16px;
  color: #222;
  // padding-bottom: 0;
  // padding-top: 5px;
  margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: normal;
    text-overflow: inherit;
    overflow: inherit;
}
.marker img {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
}

.driver-snippet {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
}

.nopadding-avataar .item-md ion-avatar[item-left] {
  margin: 8px 16px 8px 6px;
}
ion-col {
  flex: 1 0 100px !important;
}
.driver-snippet .item-md {
  padding: 0 !important;
}
.driver-snippet .item-md ion-avatar[item-left] {
  margin: 8px 16px 8px 12px;
}
.wrapper-driversnippet .label-md {
  margin: 0 !important;
}

.no-border {
  border: none !important;
}
.padding-status {
  padding-top: 6.5%;
}
.no-margin {
  margin: 0 !important;
}

​.customer-icons {
  font-family: "PT Sans";
  font-size: 16px;
  text-align: center;
  color: #2b2b2b;
}
.customer-icons img {
  display: block;
  margin: 0 auto;
  padding-bottom: 2px;
}
​ .wrapper-driversnippet {
  width: 95%;
  margin: 0 auto;
}
.onlinetoppadding {
  padding-top: 8px;
  padding-left: 80px;
}
.sidepadding-status {
  padding-left: 3px;
}
.item-md {
  padding: 0 0 0 22px !important;
}
.no-padding {
  padding: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.no-padding-top {
  padding-top: 0;
}
.centertext {
  text-align: center;
}
.paddingright {
  padding-right: 10px;
}

@media screen and (orientation: landscape) {
  .onlinetoppadding {
    padding-left: 69%;
  }
}

@media (min-width: 1024px) {
  .darkbutton1 {
    padding: 30px 0;
  }
}

ion-app._gmaps_cdv_ .nav-decor {
  background-color: transparent !important;
}
