.toptitleSearch .toolbar-title {
  text-align: left !important;
}
.searchCancel{
  background: #09738d !important;
  border-radius: 20px;
  padding: 8px 12px;
  white-space: nowrap;
}


.searchCancel span {
  font-size: 16px;

}
#PickupLocation {
  .searchbar-input {
    font-size: 18px;
  }
  .searchbar-clear-icon {
    height: 40px;
  }
}
.preSearch {
  font-size: 18px;
}
.searchItem {
  background: #e6e6e6;
  margin-top: 16px;
  ion-item {
    padding-left: 0px !important;
    ion-label {
      margin: 0px 8px 0px 0px;
      label {
        background: none;
        display: inline-block;
        width: 100%;
        margin-right: 2%;
        padding-left: 5px;
        padding-right: 5px;
        input {
          width: 100%;
          height: 35px;
          line-height: 35px;
          font-size: 18px;
          font-weight: normal;
          margin-bottom: 0px !important;
          border: none;
          border-radius: 5px;
          padding-left: 10px;
        }
      }
    }
  }
}

.pac-container {
  .pac-item {
    line-height: 40px;
    font-size: 15px;
    .pac-icon {
      font-size: 16px;
    }
    .pac-item-query {
      font-size: 20px;
    }
  }
}
