<!--<ion-header>
    <ion-toolbarbar color="headerblue">
    <ion-title class="toptitle toptitleSearch"><span class="heavy">SEARCH</span></ion-title>
    <ion-buttons end (click)="closeModal()">
      <button button-clear ion-button class="searchCancel" >
        <span>cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbarbar>
</ion-header>-->

<ion-header>

  <ion-toolbar color="dark">
    <ion-title>Pick Address</ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar #searchbox [showCancelButton]="'always'" (ionChange)="searchChange($event)"
      placeholder="Search previous locations" (ionCancel)="onCancel($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item (click)="openLocation()">
      <ion-label>Click here to add from map or search location</ion-label>
      <ion-icon slot="end" name="location-outline"></ion-icon>
    </ion-item>

    <ion-list-header [hidden]="lstPlaces.length == 0"> Searches</ion-list-header>
    <ion-item *ngFor="let address of lstPlaces; let i = index;" (click)="getLatLngAndGotoAddress(address)"
      class="ion-text-wrap">
      <ion-label class="ion-text-wrap">{{address.description}}</ion-label>
    </ion-item>

    <ion-list-header>Previous Searches</ion-list-header>
    <ion-item *ngFor="let address of lstAdd; let i = index;" (click)="gotoAddress(address)" class="ion-text-wrap">
      <ion-label>{{address.add}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openLocation()" color="dark">
      <!-- <ion-icon name="location-outline"></ion-icon> -->
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>