page-locationloader {
  .locationLoaderPage {
    background: #000;
    img {
      width: 100%;
      margin: 0px auto;
      padding-top: 30%;
      display: block;
    }
    .animated {
      width: 100%;
      margin: 0px auto;
      margin-bottom: 35px;
    }
    .getloc {
      font-family: "PT Sans";
      font-size: 5vw;
      color: #fff;
      text-align: center;
      font-style: italic;
    }
  }
}

/* landscape */
@media screen and (orientation: landscape) {
  .locationLoaderPage {
    img {
      padding-top: 0% !important;
      width: 50% !important;
    }
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .locationLoaderPage {
    img {
      padding-top: 5% !important;
      width: 70% !important;
    }
  }
}

.map-bg {
  background: url(/assets/images/mapbg.jpg) 100% / auto;
}
