<!--
  Generated template for the Locationloader page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- <ion-content class="locationLoaderPage">

  <ion-header>
    <ion-toolbar>
      <ion-title>
        Ionic 5 Geolocation Demo
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-button (click)="geoInformation()" color="danger">
      Get Device Location
    </ion-button>

    <ion-item>
      <strong>Location Information</strong>
    </ion-item>

    <ion-item>
      <ion-label>Latitue</ion-label>
      <ion-badge color="secondary">{{lat}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>Longitude</ion-label>
      <ion-badge color="tertiary">{{long}}</ion-badge>
    </ion-item>

    <ion-item>
      <strong>Address</strong>
    </ion-item>

    <ion-item>
      {{ address }}
    </ion-item>

    <ion-item>
      <ion-label><strong>Accuracy</strong></ion-label>
      <ion-badge>{{ accuracy }}</ion-badge>
    </ion-item>
  </ion-content>

</ion-content> -->

<!--<img src="assets/images/supportlogo.png" alt="Support Logo"/>-->
<!-- <img src="assets/images/splash.png" alt="Front Loader" /> -->
<!--<img src="assets/images/loading.png"/>-->
<!-- <p class="getloc">Getting Your Location...</p> -->
<!--
<ion-header>
  <ion-toolbar color="dark">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content #content class="map-bg">
  <img src="assets/images/mapbg.jpg" alt="..." />
  <p>{{msg}}</p>
  <!-- <img class="box-image" src="assets/images/mapbg.jpg" /> -->
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Getting Your Location...</ion-card-subtitle>
    </ion-card-header>
  </ion-card> -->
</ion-content>
