<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Booking</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-segment [(ngModel)]="jobtype" (ionChange)="selectedService($event)">
      <ion-segment-button value="pickup" class="oneway">
        ONE WAY
      </ion-segment-button>
      <ion-segment-button value="personal" class="roundtrip">
        ROUND TRIP
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list [hidden]="step != 1">

    <ion-item (click)="showAddressModal('drop')" [hidden]="jobtype == 'personal' ">
      <ion-label>{{ drop.add ? drop.add : 'Enter your destination'}}</ion-label>
      <ion-icon slot="end" name="location-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="showAddressModal('pick')">
      <ion-label>{{ pick.add ? pick.add : 'Enter your Pickup'}}</ion-label>
      <ion-icon slot="end" name="location-outline"></ion-icon>
    </ion-item>

    <!-- <ion-button expand="block" (click)="showAddressModal('drop')">
        {{ drop.add ? drop.add : 'Enter your destination'}}
      </ion-button> -->
    <!-- <button class="extrafontsize"0 ion-item (click)="showAddressModal('drop')">
        <span *ngIf="drop.add !== null" class="pickup">{{drop.add}}</span>
        <span *ngIf="drop.add === null" class="destination">Enter your destination</span>
      </button> -->
    <ion-button expand="block" shape="round" color="dark" (click)="bookNow()">Next</ion-button>
  </ion-list>

  <ion-list [hidden]="step != 2">

  </ion-list>



</ion-content>
