<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-button fill="clear" (click)="ToggleMenuBar()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><span class="heavy toptitle">ABOUT</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section style="margin-bottom: -25%" class="bannerabout"></section>
  <h2 class="headerabout">About Us</h2>
  <img src="assets/images/blueline.png" class="blueline" alt="line" />

  <p class="aboutpara">
    We are excited to introduce a new model of taking a ride where you are in
    control. <strong style="color: rgb(167, 167, 167)"> Ridebidder </strong>is a
    revolutionary platform where the customer and the driver come to an
    agreement on price for the ride. No more surprises when you hire a car, the
    price is decided by the customer and the "bids" are received from drivers.
    As we say:
    <strong style="color: rgb(167, 167, 167)">" you ride on your terms"</strong>
  </p>
  <p class="aboutpara font" style="color: white">
    With <strong style="color: white">Ridebidder</strong> App you can:
  </p>

  <section class="liststyle">
    <ul>
      <li>
        Select the destination you like to travel, the app will give you an
        indicative price estimate, but customers can change that value.
      </li>
      <li>
        The drivers will send a bid for your trip, let the market decide what is
        the right price to pay.
      </li>
    </ul>
  </section>
</ion-content>
