#map {
  height: 100%;
  position: relative;
}

#book {
  display: block;
  width: 100%;
  bottom: 2%;
  position: absolute;

  padding: 10px;
}
.car{
  font-size:30px;
  background: rgba(0, 0, 0, 0);
  color: black;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 10px 8px;

}
#map:after {
  width: 22px;
  height: 40px;
  display: block;
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -11px;
  background: url("https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png");
  background-size: 22px 40px; /* Since I used the HiDPI marker version this compensates for the 2x size */
  pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
}

.oneway{
  background:#09738d !important;
  margin-top: 20px;
  padding: 5px 8px;
  border-radius: 10px;
}
.roundtrip{
  background:#09738d !important;
  margin-top: 20px;
  padding: 5px 8px;
  border-radius: 10px;
}
.ionFab {
  right: 3% !important;
  bottom: 30% !important;

  .fab {
    width: 36px;
    height: 36px;
    .fab-close-icon {
      font-size: 2rem;
      line-height: 40px;
    }
  }
}

.serviceBtn {
  width: 80%;
  padding: 22px 0;
  font-family: "PT Sans";
  font-size: 11px;
  font-weight: 400;
}

ion-segment {
  margin-bottom: 4%;
}
.nextBtn {
  color: white;
  background:#09738d !important;
  font-size: 18px;
  border-radius: 50px;
  margin-left: 20px;
  padding: 10px 15px;
  white-space: nowrap;
  margin-top: 40px;
  width: 90%;

  //width: 96%;
  //margin-left: 2%;
}
.nextBtn:hover {
  color:rgb(248, 245, 245);
  background:rgba(16, 187, 218, 0.63) !important;
  font-size: 18px;
  border-radius: 50px;
  margin-left: 20px;
  padding: 10px 15px;
  white-space: nowrap;
  margin-top: 40px;
  width: 90%;
}
.textCenter {
  text-align: center;
}

.home-toogle {
  color: #000 !important;
  font-size: 2.25rem;
  z-index: 99;
  background: transparent !important;
  padding: 16px;
  margin-top: 0px;
  box-shadow: none;
  padding-top: 6%;
}
ion-button:hover {
  background-color: #000 !important;
}

.marginTop {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.marginTop div {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.nextBtn.activated {
  background-color: #000 !important;
}
.destination{
  color: rgb(230, 224, 224);
  border-radius: 50px;
  font-size: 20px;
  margin-top: -100px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.pickup{
  color: rgb(230, 224, 224);
  border-radius: 50px;
  font-size: 25px;
  margin-top: -100px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
//.toolbar-background {
//  /* background-color: #050002 !important; */
//  background: transparent !important;
//  border-width:0px;
//}
