
<ion-content class="marginTop">
  <div #map id="map" style="height: 100%;"></div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="locate-outline"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openBookNow()"><ion-icon name="options-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- <div>
    <button ion-button menuToggle class="home-toogle">
      <ion-icon name="menu"></ion-icon>
    </button>
  </div> -->
  <!-- <ion-card >
    <ion-list >
      <button class="extrafontsize" (click)="showAddressModal('pickup')">
        <ion-icon name="ios-pin" item-left></ion-icon>
        {{pickup.add}}
      </button>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list *ngIf="PickupService" >
      <button class="extrafontsize" ion-item (click)="showAddressModal('drop')"  style="font-size:20px;">
        <ion-icon name="car-outline" item-left></ion-icon>
        <span *ngIf="drop.add !== null">{{drop.add}}</span>
        <span *ngIf="drop.add === null" style=" color: rgb(17, 11, 11); border-radius: 50px; font-size: 20px;">Enter your destination</span>
      </button>
    </ion-list>
  </ion-card>

  <ion-fab right bottom class="ionFab" (click)="currentLocation()" >
    <button ion-fab>
      <ion-icon name="pin"></ion-icon>
    </button>
  </ion-fab> -->
  <!-- new created bt me-->

  <!--</div>-->
</ion-content>
