<ion-content class="login-container" color="dark">
  <section class="support-section">
    <!-- <img src="assets/images/supportlogo.png">  -->
    <p class="logo-text">RideBidder</p>
    <!-- <img class="loginimage" src="assets/images/login.png"> -->
  </section>
  <section class="formwrapper">
    <form>

      <!-- <ion-icon ios="ios-mail" md="md-mail"></ion-icon> -->
      <div style="margin-bottom: 20px;">
        <input class="field" type="text" autcomplete="off" name="Email"
          style="border-radius: 4px 4px 0px 0px; border-radius: 50px;" placeholder="Email" [(ngModel)]="email">
      </div>
      <!-- <ion-icon ios="ios-lock" md="md-lock"></ion-icon> -->
      <div>
        <input class="field" type="password" autcomplete="off" name="Password"
          style="border-radius: 0px 0px 4px 4px; border-radius: 50px;" placeholder="Password" [(ngModel)]="password">
      </div>
      <ion-button color="light" fill="clear" expand="block" (click)='resetPassword()'>Forgot Password ?</ion-button>
      <button class="lightgreenbutton login-btn" ion-button color="primary" (click)='doLogin()'>SIGN IN</button>
      <ion-grid hidden>
        <ion-row>
          <ion-col size="6">
            <ion-button style="font-size: 1.5em;" class="ion-float-end" fill="clear" color="danger"
              (click)="loginSocial('Google')">
              <ion-icon name="logo-google"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button style="font-size: 1.5em;" class="ion-float-start" fill="clear" color="primary"
              (click)="loginSocial('Facebook')">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="signup-container">
        <p color="bright" (click)="doRegistration('basic')"><span color="light" style="margin-top: -100px;">Don`t Have
            An Account?</span> Sign Up
        </p>

      </div>
    </form>
  </section>
</ion-content>
