@import "../reviewdriver/reviewdriver.page.scss";

.back {
  background: url("/assets/images/background.png") repeat;
}
.loginimage {
  width: 30% !important;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.formwrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  margin-top: 15%;
}

// .field{padding: 15px; background: #f4f4f4; border: 1px solid #d4d4d4; border-radius: 25px; color: #8d8d8d; font-family:'PT Sans'; font-size: 16px; width: 100%; display: block;}
.field {
  padding: 20px;
  background: #fff;
  border: 1px solid #f9f9f9;
  /* border-radius: 25px; */
  color: #333131;
  font-family: "PT Sans";
  font-size: 16px;
  width: 100%;
  display: block;
  margin: 0px !important;
  border-radius: 4px 4px 0px 0px; border-radius: 50px;
}
.field ::placeholder {
  color: black !important;
}
.blackbutton {
  @extend .darkbutton;
  width: 100%;
}
.clearbutton {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  margin-left: 100px;
  text-transform: none !important;
  height: 1.5em;
}
.redbutton {
  @extend .darkbutton;
  background: #ea4335 !important;
  padding: 25px 95px !important;
  width: 100%;
}
.bluebutton {
  @extend .darkbutton;
  width: 100%;
  background: #3b5998 !important;
  margin-bottom: 25px !important;
}
.lightgreenbutton {
  @extend .darkbutton;
  background: #09738d !important;
  margin-bottom: 25px !important;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 50px;
  white-space: nowrap;
  padding: 15px 32px;
}
.lightgreenbutton:hover {
  @extend .darkbutton;
  background: white !important;
  margin-bottom: 25px !important;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 50px;
  white-space: nowrap;
  padding: 15px 32px;
}
.googlebtn {
  @extend .darkbutton;
  background: #09738d !important;
  margin-bottom: 25px !important;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  white-space: nowrap;
  overflow-x: hidden;
  padding: 15px 32px;
}
.googlebtn:hover {
  @extend .darkbutton;
  background: #ffffff !important;
  margin-bottom: 25px !important;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  white-space: nowrap;
  overflow-x: hidden;
  padding: 15px 32px;
  color: #000;
}
.facebookbtn {
  @extend .darkbutton;
  background: #09738d !important;
  margin-bottom: 25px !important;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  white-space: nowrap;
  padding: 15px 32px;
}
.facebookbtn:hover {
  @extend .darkbutton;
  background: #fdfdfd !important;
  margin-bottom: 25px !important;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  white-space: nowrap;
  padding: 15px 32px;
  color: #000;
}
.lightgreenbutton .login-btn {
  text-align: center;
  display: block;
}

.lightgreenbutton:hover {
  @extend .darkbutton;
  background: #d3d3d3 !important;
  color: #000;
  font-weight: bold;
  font-size: 15px;
}

.alert-md .alert-head {
  padding: 10px;
  text-align: center;
  color: #222;
  background: none;
  font-family: "PT Sans";
}
.alert-md .alert-title {
  font-size: 18px;
  text-transform: uppercase;
}

.alert-md .alert-button {
  padding: 0;
  margin: 0 auto;
  display: block;
}

.scroll-content {
  margin-top: 13%;
}
.fixed-content {
  margin-top: 13%;
}
.redlogo {
  font-weight: normal;
  text-transform: none;
  color: #fff;
  background: #ea4335 !important;
  border-radius: 50px;
}
.bluelogo {
  font-weight: normal;
  text-transform: none;
  color: #fff;
  background: #3b5998 !important;
  border-radius: 50px;
}

.left-float {
  float: left;
  margin-right: 10px;
}

.social-login {
  margin-left: 31%;
  margin-top: 3%;
}

.logo-text {
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  text-shadow: #000;
}
.logo-text span {
  padding: 4px;
  font-weight: 300 !important;
  color: #d3d3d3;
}
.signup-container {
  text-align: center;
  margin-top: 22%;
}
.formwrapper input:email {
  border-radius: 6px 6px 0px 0px;
}
.formwrapper Password {
  border-radius: 0px 0px 6px 6px;
}
.logo-font {
  font-size: 3.4rem !important;
}
.signup-container p {
  color: #fff;
  margin-top: -50px;
}
.signup-container span {
  color: #969494;
}
.login-container {
  background-color: #000;
}

@media (min-width: 568px) {
  .loginimage {
    width: 15% !important;
  }
}
