<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-button fill="clear" (click)="ToggleMenuBar()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>
      RideBidder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map" style="height: 100%;"></div>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button>
        <ion-icon name="locate-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openBookNow()">
        <ion-icon name="options-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
