<!--
  Generated template for the Makepayment page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-toolbarbar>
    <ion-title>makepayment</ion-title>
  </ion-toolbarbar>

</ion-header>-->

<ion-header>
  <ion-toolbar color="headerblue">
    <ion-title><span class="heavy">MAKE PAYMENT</span></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <h1>Makepayment</h1>
  <button (click)="payNow()">pay now</button>
</ion-content>
