<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><span class="heavy toptitle">PAYMENTS</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 *ngIf="cards.length===0" class="review-title">Select Card</h2>

  <ion-list class="ion-margin-top">
    <ion-item *ngFor="let card of cards; let i = index;">
      <ion-icon
        name="checkmark-circle"
        slot="start"
        *ngIf="card.primary"
      ></ion-icon>
      <ion-icon
        name="checkmark-circle-outline"
        slot="start"
        *ngIf="!card.primary"
        (click)="makePrimary(i)"
      ></ion-icon>
      <ion-label (click)="SelectCard(card)">
        <h2>{{card.type}}</h2>
        <p>{{card.cardEnding}}</p>
      </ion-label>
      <ion-icon
        name="remove-circle"
        slot="end"
        (click)="removeCard(i)"
      ></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCardIO()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
