.paymentcardwrapper {
  width: 90%;
  display: block;
  margin: 15px auto;
}
.customcard {
  background: #f4f4f4;
  width: 100%;
  margin: 0;
}
.customcard-header {
  background: #2e2e2e;
  color: #fff;
  font-family: "PT Sans";
  font-size: 18px;
  text-align: left;
  padding: 8px;
}
.btn {
  height: 48px;
  width: 80%;
  align-self: center;
}
// .center{
//   ali
// }

.customcard-body {
  padding: 0;
  font-family: "PT Sans";
  font-size: 18px;
  text-align: right;
  color: #2e2e2e;
}
.review-title {
  margin-left: 17px;
}
.customcard-body img {
  width: auto;
}
.custom-image {
  width: auto;
}
.custom-padding1 {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.addcard {
  background: #09738d !important;
  border-radius: 20px;
  padding: 8px 12px;
  white-space: nowrap;
  font-size: 15px;
  margin-left: 10px;
}
.addcard1 {
  background: #09738d !important;
  border-radius: 20px;
  padding: 8px 12px;
  white-space: nowrap;
  font-size: 15px;
  margin-left: 10px;
}
