.textcolor{
  color:rgb(105, 103, 103)
}

.payBtn{
    background: #09738d !important;
    border-radius: 20px;
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 15px;
}
.payBtn:hover{
  background: white !important;
  color: black;
  border-radius: 20px;
  padding: 10px 15px;
  white-space: nowrap;
  font-size: 15px;
  margin-left: 15px;
  margin-top: 15px;
}
