<!--
  Generated template for the Popover page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title><span class="heavy title">PAYMENTS</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-list class="listCardWrapper">
      <ion-item>
        <ion-label fixed>Card No :</ion-label>
        <ion-input type="text" class="textcolor" [(ngModel)]="addcard.cardno" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Expriry Date :</ion-label>
        <ion-select [(ngModel)]="addcard.month" [ngModelOptions]="{standalone: true}">
          <ion-select-option value="01">01</ion-select-option>
          <ion-select-option value="02">02</ion-select-option>
          <ion-select-option value="03">03</ion-select-option>
          <ion-select-option value="04">04</ion-select-option>
          <ion-select-option value="05">05</ion-select-option>
          <ion-select-option value="06">06</ion-select-option>
          <ion-select-option value="07">07</ion-select-option>
          <ion-select-option value="08">08</ion-select-option>
          <ion-select-option value="09">09</ion-select-option>
          <ion-select-option value="10">10</ion-select-option>
          <ion-select-option value="11">11</ion-select-option>
          <ion-select-option value="12" checked="true">12</ion-select-option>
        </ion-select>
        <ion-select [(ngModel)]="addcard.year" [ngModelOptions]="{standalone: true}">
          <ion-select-option *ngFor="let year of years">{{year}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed>CVV :</ion-label>
        <ion-input type="text" class="textcolor" [(ngModel)]="addcard.cvv" maxlength="3" [ngModelOptions]="{standalone: true}">
        </ion-input>
      </ion-item>
      <button ion-button class="payBtn" color="primary" (click)="payNow()">Add</button>
    </ion-list>
  </form>
</ion-content>
