page-bid-driver {
  .ul.rating[_ngcontent-hdo-40] li[_ngcontent-hdo-40] {
    padding: 7px 0px !important;
  }
  .driver-card {
    //     position: absolute;
    // top: 10;

    // left: 15%;
    // margin-left:15%;
    //  margin-top:2%;
    //  padding-bottom: 10px !important;
    // width: 70%;
    border-top: 1px solid #ccc;
  }
  .topnotification-fare {
    margin: 0px;
  }
  .driver-section {
    // position: relative;
    font-size: 2.2rem;
  }
  .marker {
    margin-right: 10px;
  }
  .marker img {
    margin-top: 10%;
  }
  .marker-p {
    margin: 7px;
    font-size: 14px;
    margin-top: 5px;
  }
  .location {
    font-size: 15px;
    margin: 8px;
  }
  .acceptBtns {
    background: #191b1a;
    width: 100%;
    padding: 8px 0;
    font-family: "PT Sans";
    font-size: 15px;
    text-transform: capitalize;
    font-weight: normal;
    color: #fff;
  }
  .bid-price {
    font-weight: 700;
    font-size: 18px;
    margin: 2px;
    margin-top: 7px;
    margin-left: 8px;
  }

  .rate {
    color: #ffae00;
    font-size: 12px;
    display: inline;
    text-align: left;
  }
  .map3 {
    height: 250px;
  }
  .map4 {
    height: 387px;
  }

  ul.rating li {
    display: inline;
    border: 0px;
    background: none;
    padding: 5px !important;
  }
}
