<!--
  Generated template for the BidDriverPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the Fare page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-button fill="clear" (click)="ToggleMenuBar()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><span class="heavy toptitle textCenter">Driver`s Price List</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<section class="topnotification-fare">-->
  <!--<ion-grid class="no-padding">-->
  <!--<ion-row>-->
  <!--<ion-col width-20 class="marker">-->
  <!--<img src="assets/images/car.png">-->
  <!--</ion-col>-->

  <!--<ion-col width-80 class="no-padding">-->
  <!--<p class="loaction">{{job.pickupAddress}}</p>-->

  <!--</ion-col>-->
  <!--</ion-row>-->
  <!--<ion-row *ngIf="job != undefined && job.hasOwnProperty('dropAddress')">-->
  <!--<ion-col width-20 class="marker">-->
  <!--</ion-col>-->

  <!--<ion-col width-80 class="no-padding">-->
  <!--<p class="loaction">{{job.dropAddress}}</p>-->
  <!--</ion-col>-->
  <!--</ion-row>-->
  <!--</ion-grid>-->
  <!--</section>-->

  <section>
    <div id="map5" data-tap-disabled="true" class="map3" *ngIf="this.PickupService == true">
    </div>
    <div id="map5" data-tap-disabled="true" class="map4" *ngIf="this.PickupService != true">
    </div>
  </section>

  <section class="driver-section">
    <p style="text-align: center;"><strong>Drivers biding for your ride</strong></p>
    <ion-grid class="no-padding driver-card" *ngFor="let bid of job.bidding; let i = index;">

      <ion-card>
        <ion-item lines="none">
          <ion-avatar style="width: 60px; height: 60px;">
            <img src="{{bid.driver_image != '' ? bid.driver_image : 'assets/images/notfound.png'}}"
              onerror="this.onerror=null;this.src='assets/images/notfound.png';">
          </ion-avatar>
          <ion-label class="ion-margin-start">
            <h2 class="marker-p"> {{bid.driver_name}} </h2>
            <p class="bid-price"> ${{bid.rate.toFixed(2)}}</p>

            <div>
              <ion-rating [rate]="bid.driver_rating" size="default" readonly="true">
              </ion-rating>
              <!-- <ion-icon *ngFor="let n of [1,2,3,4,5]" [name]="bid.driver_rating <= n ? 'star-outline' : 'star'"></ion-icon>
              </ion-icon> -->

            </div>

            <!-- <rating [(ngModel)]="bid.driver_rating" name="driver_rating" ngDefaultControl max="5" readOnly="true"
              emptyStarIconName="star-outline">
            </rating> -->
          </ion-label>
          <ion-button (click)="acceptRide(bid)">
            Accept
          </ion-button>
        </ion-item>
      </ion-card>
      <!-- <ion-row *ngIf="i < 4">


        <ion-col width-25 class="" style="height: 80px;">
          <img src="{{bid.driver_image != '' ? bid.driver_image : 'assets/images/notfound.png'}}" alt="Drive Image">

        </ion-col>

        <ion-col width-75 class="">
          <ion-row>
            <ion-col width-40 class="marker">
              <p class="marker-p"> {{bid.driver_name}} </p>
            </ion-col>

            <ion-col width-60 style="padding-top: 8px;">
              <div class="rate">
                <rating [(ngModel)]="bid.driver_rating" name="driver_rating" ngDefaultControl max="5" readOnly="true"
                  emptyStarIconName="star-outline">
                </rating>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col width-50>
              <p class="bid-price"> ${{bid.rate.toFixed(2)}}</p>

            </ion-col>

            <ion-col width-50 style="text-align:right;">
              <button class="acceptBtns" (click)="acceptRide(bid)">Accept</button>
            </ion-col>

          </ion-row>
        </ion-col>

      </ion-row> -->

    </ion-grid>
  </section>


</ion-content>