<!--
  Generated template for the Bookings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>
  <ion-toolbarbar color="headerblue">
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="toptitle"><span class="heavy">PREVIOUS BOOKINGS</span></ion-title>
  </ion-toolbarbar>
</ion-header>-->

<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-button fill="clear" (click)="ToggleMenuBar()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--<ion-title><span class="heavy toptitle">PREVIOUS BOOKINGS</span></ion-title>-->
    <ion-title class="topTitle"
      ><span class="heavy">PREVIOUS BOOKINGS</span></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="bookings">
    <h2 *ngIf="bookingList.length==0" class="review-title">
      No booking history.
    </h2>
    <ion-list>
      <ion-item *ngFor="let booking of bookingList; let i = index;">
        <ion-avatar>
          <img
            src="{{booking.image_url}}"
            onerror="this.onerror=null;this.src='assets/images/notfound.png';"
            alt="Profile Image"
          />
        </ion-avatar>

        <ion-label class="ion-margin-start ion-text-wrap">
          <!--<h4><strong>{{booking.tripdate | date:'dd-MM-yyyy HH:mm' : 'UTC'}}</strong></h4>-->

          <h4><strong>{{booking.serviceType}}</strong></h4>
          <p><span>Start</span> : {{booking.pickupAddress}}</p>
          <p *ngIf="booking.dropAddress">
            <span>End</span> : {{booking.dropAddress}}
          </p>
          <p>
            <ion-icon
              name="calendar-outline"
              style="margin-right: 5px"
            ></ion-icon>
            <strong
              >{{booking.tripdate.substring(8,10)}}{{booking.tripdate.substring(4,8)}}{{booking.tripdate.substring(0,4)}}
              {{booking.tripdate.substring(11,16)}}</strong
            >

            <ion-text>
              <h3>${{booking.trip_cost ? booking.trip_cost : "0"}}</h3>
            </ion-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </section>
</ion-content>
