<!--
  Generated template for the Share page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>
  <ion-toolbarbar color="headerblue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="toptitle"><span class="heavy">SHARE</span></ion-title>
  </ion-toolbarbar>
</ion-header>-->

<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons>
    <ion-button fill="clear" (click)="ToggleMenuBar()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title><span class="heavy toptitle">SHARE</span></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <section class="support-section">
    <img src="assets/images/supportlogo.png">
    <p class="supportpara">Get <span color="dark">$10</span> discount for you &amp; your mate who will download and uses
      the app for their 1st trip.</p>

    <section class="sharediv">
      <h2>SHARE YOUR CODE</h2>
      <ion-grid class="no-padding">
        <ion-row class="customimage-padding">
          <ion-col width-25><img class="sharedivimg" src="assets/images/fb.png" alt="facebook"
              (click)="shareWithFacebook()"></ion-col>
          <ion-col width-25><img class="sharedivimg" src="assets/images/twitter.png" alt="twitter"
              (click)="shareWithTwitter()"></ion-col>
          <ion-col width-25><img class="sharedivimg" src="assets/images/mail.png" alt="mail"
              (click)="shareWithMassage()"></ion-col>
          <ion-col width-25><img class="sharedivimg" src="assets/images/mail1.png" alt="mail1"
              (click)="shareWithEmail()"></ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </section>
</ion-content>
