.sharediv {
  width: 100%;
  border-top: 1px solid #222;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #222;
  margin-top: 15px;
}

.sharediv h2 {
  background: #fff;
  margin: 0 auto;
  color: #2e2e2e;
  font-family: "PT Sans";
  font-size: 15px;
  padding: 5px;
  width: 55%;
  text-align: center;
  margin-top: -34px;
}
.sharedivimg {
  display: block;
  width: auto;
  margin: 0 auto;
  padding-bottom: 0 !important;
}
.no-padding {
  padding: 0;
}
.customimage-padding {
  padding-top: 5px;
}

@media (min-width: 640px) {
  .sharediv h2 {
    width: 30%;
  }
}
